
    <section id="contact">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto text-center">
              <h2 class="section-heading">Kontaktirajte nas</h2>
              <hr class="my-4">
              <p class="mb-5">Imate pitanje vezano za bilo koju oblast, proizvod ili uslugu ? <br>
                Slobodno nas kontaktirajte, a mi ćemo se potruditi da što prije odgovorimo </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 ml-auto text-center">
              <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
              <p>00 38 76 33 54 63 2</p>
            </div>
            <div class="col-lg-4 mr-auto text-center">
              <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
              <p> <a href="mailto:klicko.sarajevo@gmail.com">klicko.sarajevo@gmail.com</a></p>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <form id="footerForm" (ngSubmit)="onSubmitFooter()"  class="text-center col-12 col-md-8 col-lg-5 mx-auto p-3 p-md-5" [formGroup]="contactForm" >
              <input type="text" formControlName="name" id="name" class="form-control mb-3" placeholder="Ime i prezime *">
              <div class="row p-3">
                <input type="email" formControlName="email" id="email" class="col-6 form-control mb-3" placeholder="E-mail *">
                <input type="text" formControlName="phone" id="phone" class="col-6  form-control mb-3" placeholder="phone">
              </div>
                <div class="form-group">
                  <textarea formControlName="desc" class="form-control rounded-0" rows="3" placeholder="Poruka *"></textarea>
                </div>
                <div *ngIf="!successSend" class="row p-3">
                  <button *ngIf="!displayFormError" mdbBtn block="true" class="col-12 footer-button z-depth-0 my-3 waves-effect m-0"
                        mdbWavesEffect type="submit" [disabled]="disabledSubmitButton || !this.contactForm.valid">                  
                    <span *ngIf="loadingForm">Slanje poruke u tijeku...</span> 
                    <span *ngIf="!loadingForm ">Pošalji </span>
                  </button>
                  <button *ngIf="displayFormError" (click)="resetFormAndVal()" mdbBtn color="danger" block="true" class=" col-12 z-depth-0 my-3 waves-effect m-0" mdbWavesEffect> 
                    <span >Pokušajte opet</span>
                  </button>
                </div>
                <div *ngIf="successSend" class="lead col-12">Poruka uspješno poslana :D </div>
            </form>
          </div>
        </div>
      </section>