
 @import "../../variables.scss";
 #contact {
    background: $k_bg_dark;
    color: $k_main_text;
    padding: 2rem;
  }
  #contact a {
    color: $white;
  }
  .footer-button {
    border: 1px solid $k-main;
    color: $k-main;
  }
  .footer-button:hover {
    border: 1px solid $k-secon;
    color: $k-secon;

  }