<app-navbar [aColor]="'black'"></app-navbar>
<div id="page-top">
  <header class="masthead text-center text-black d-flex">
    <div class="container ">
      <div class="row">
        <div class="col-12 main-content-spelta text-center">
          <h2 class="spelta-second">hladno cijeđeni</h2>
          <br>
          <h1 class="text-uppercase spelta-main mb-4"> zeleni Sok od spelte</h1>
        </div>
        <hr>
      </div>
    </div>
  </header>
  <section>
    <div class="container-fluid">
      <div class="row my-4 my-md-5 py-0 py-md-5">
        <div class="col-lg-6 m-auto text-center">
          <p class=" text-justify mb-4 p-5 lead">
            Proizvodi se od mladih izdanaka organske spelte. Spelta se pusti da naraste 12-14 cm i onda namjenskom
            mašinom, postuplom hladnog cijeđenja, sa jedne strane se dobija 100 % sok bez bilo kakvih dodataka, koga
            organizam savršeno apsorbuje ,a sa druge strane odstranjije se kompletna količina celuloznih vlakana koja su
            za organizam nesvarljiva.
          </p>
        </div>
        <div class="col-lg-4 col-8 m-auto ">
          <img src="../../assets/img/malo-spelta.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
  <section class="tacnaSpelta">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-10  m-auto text-center">
          <p class="text-white bg-black text-justify my-4 p-5 lead mobileBg ">
            Pored visoke koncentracije bjelančevina , vitamina i minerala možemo izdvojiti nevjerovatan sadržaj enzima,
            hlorofila i vitamina B17.

            Enzimi su poznati kao najjači čistači organizma. Hlorofil je izuzetno važan sastojak krvi i čini 70 % mase
            soka , a vitamin B17 štiti i liječi organizam od malignih oboljenja.
          </p>
        </div>
      </div>
    </div>
    
  </section>
  <section>
    <div class="container">
      <div class="row  py-5">
        <div class="col-lg-4 col-8 m-auto ">
          <img src="../../assets/img/casaSpelta.png" alt="" class="img-fluid">
        </div>
        <div class="col-lg-6 m-auto text-center">
          <p class=" text-justify mb-4 p-5 lead">
            Zeleni sok vrši kompletnu detoksikaciju organizma, jača imuni sistem, uništava štetne bakterije, utiče na crijevnu floru,popravlja krvnu sliku te neutrališe kiselost organizma. Smanjuje neželjena dejstva ljekarskih terapija kao što su kemo terapija, terapija zračenjem i hormonska terapija.
          </p>
        </div>
      </div>
    </div>
  </section>
  <div class="section-image d-flex">
    <!-- dio samo sa slikom -->
  </div>
  <section>
    <div class="container">
      <div class="row  py-5">
        <div class="col-lg-6 m-auto text-center">
          <p class=" text-justify mb-4 p-5 lead">
            Sok od spelte ima mnogo zdravstvenih koristi, ukljucujuci i gubitak tezine, smanjenja upala, snižavanje holesterola i dosta poboljšanu kontrolu šećera u krvi.
            <br> Zanimljivo je da mu treba samo jedna minuta da se probavi 
          </p>
        </div>
        <div class="col-lg-4 col-8 m-auto ">
          <img src="../../assets/img/wheatgrass.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
  
    <div class=" container-fluid">
      <div class="row spelta-daska">
        <div class="col-5"></div>
        <div class="col-7 m-auto text-center p-4">
          <span class="bottom-text text-justify mb-4 p-4 ">
            Hipokratov institut dao  je podatke o bolestima kod kojih zeleni sok od žita pokazuje značajne rezultate: rak koštane srži, rak dojke, rak debelog creva, rak pluća, rak prostate, rak materice, rak limfnih žlezda, limfoma, ciste, šećerna bolest, upala zglobova, bronhitis, opadanje kose, regulacija telesne težine. 
          </span>
        </div>
      </div>
    </div>

</div>