.product-fade {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
}
.product-modal {
    position: fixed;
    top: 10vh;
    z-index: 1;
    border-radius: 4px;
    width: 70%;
    height: 85%;
    right: 15%;
    overflow-y: scroll;
}
.closeSpan {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: large;
    cursor: pointer;
}