<nav [ngClass]="{'navbar-shrink': scrollNav}" class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <a id="navbarBtn" href="">
        <img src="../../assets/icons/menu.svg" alt="">
    </a>
  <div class="container navDim">
      <a id="navBrand" class="navbar-brand js-scroll-trigger mt-0 mt-lg-3" [routerLink]="['']">
        <img src="../../assets/img/klickooo.png" alt="" id="logo" />
      </a>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto Color">
        <li class="nav-item">
          <a [ngClass]="{'darkNav': aColor=='black'}" class="nav-link js-scroll-trigger" href="#about">O NAMA</a>
        </li>
        <li class="nav-item">
          <a [ngClass]="{'darkNav': aColor=='black'}" class="nav-link js-scroll-trigger"
            [routerLink]="['/klice']">Klice</a>
        </li>
        <li class="nav-item">
          <a [ngClass]="{'darkNav': aColor=='black'}" class="nav-link js-scroll-trigger"
            [routerLink]="['/microgreens']">Povrce</a>
        </li>
        <li class="nav-item">
          <a [ngClass]="{'darkNav': aColor=='black'}" class="nav-link js-scroll-trigger" href="#contact">Sok od
            spelte</a>
        </li>
        <li class="nav-item">
          <a [ngClass]="{'darkNav': aColor=='black'}" class="nav-link js-scroll-trigger" href="#contact">Radionice</a>
        </li>
        <li class="nav-item">
          <a [ngClass]="{'darkNav': aColor=='black'}" class="nav-link js-scroll-trigger" href="#contact">Galerija</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
