@import "../../variables.scss";

#mainNav {
  -webkit-transition: all 0.2s;
  transition: all 0.5s;
  padding: 0.2rem 0.5rem;
}
.darkNav {
  color: $k_bg_dark !important;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: $k-main;
}

.navDim {
  height: 55px;
}

#navbarBtn {
  position: fixed;
  opacity: 0;
}

#navbarBtn img {
  width: 37px;

}
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
  color: $k-main;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link:hover,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover {
  color: $k-main;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active {
  color: $k-main !important;
  background-color: transparent;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav .navbar-nav>li.nav-item>a.nav-link {
    padding: 0.5rem 1rem;
    color: #ffffffb3;
  }

  #mainNav .navbar-nav>li.nav-item>a.nav-link:hover,
  #mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover {
    color: #fff;
  }

  #mainNav.navbar-shrink {
    background-color: rgba(255, 255, 255, 0.788);
    padding: 0;
  }

  #mainNav.navbar-shrink .navbar-brand {
    color: $k-main;
  }

  #mainNav.navbar-shrink .navbar-brand:focus,
  #mainNav.navbar-shrink .navbar-brand:hover {
    color: $k-main;
  }

  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link,
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus {
    color: #212529;
  }

  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus:hover {
    color: $k-main;
  }
}
@media (max-width: 992px) {
  #mainNav{
    background: rgba(255, 255, 255, 0.8);
    border-bottom: 2px solid rgba(0, 0, 0, 0.105);
  }
  #navbarBtn {
    opacity: .8;
    top: 15px;
    right: 100px;
  }
}
@media (max-width: 767px) {
  #mainNav{
    background: rgba(255, 255, 255, 0.8);
    height: 40px;
  }
  #navBrand{
    position: fixed;
    left: 50%;
    top: 15px;
    transform: translate(-50%, -50%);
  }
  #navBrand img {
    height: 20px;
  }
  #navbarBtn {
    top: 5px;
    right: 73px;
  }
  #navbarBtn img {
    width: 25px;
  }
}