
  header.masthead {
    background-image: url("../../assets/img/headera.jpg"); 
    background-position: center center;
    background-size: cover;
  }

  .heading {
    position: relative;
    top: 12%
  }
  @media (max-width: 992px) {
    .heading{
      margin-top: 7rem;
      transform: scale(1.2);

    }
  }
  @media (max-width: 768px) {
    .portfolio-box img {
      padding: 45px;
    }

  }
  
  @media (max-width: 576px) {
    .portfolio-box img {
      padding: 25px;
    }

  }