<app-navbar [aColor]="'white'"></app-navbar>
    <header class="masthead text-center text-white d-flex">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-1 mainContent text-left">
            <h1 class="text-uppercase mainHed">Dobrodošli</h1>
            <br>
            <h2>Bavimo se uzgojem klica, <br> mikropovrća <br> i soka od <br> spelte</h2>
          </div>
          <div class="col-11 text-left offset-1">
            <p class="text-faded my-5">#supportlocal&nbsp;</p>
            <div class="lineDiv my-5"></div>
        </div>
          <hr>
        </div>
      </div>
    </header>
    
    <section class="bg-primary" #about id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-12 mx-auto text-center">
            <h2 class="section-heading text-white">Saznajte više o nama i našoj proizvodnji&nbsp;</h2>
            <hr class="light">
            <p class="text-faded lead">Ideja je nastala u našoj kući i izrasla je iz nekog našeg porodičnog hobija.</p> 
            <p class="text-faded lead">Ubijeđeni smo da današnja konvencijalna hrana, koju svi manje više konzumiramo, uzrokuje određene zdravstvene probleme. Iz tog razloga, koliko je moguće, biramo hranu za sebe.
              Tako smo 2016. počeli eksperimentisati sa kućnom proizvodnjom klica za vlastite potrebe, a sticajem okolnosti kasnije i za Vaše. </p>
            <p class="text-faded lead">
              Trenutno smo ozbiljni proizvođači klica biljaka, mikropovrća te ljekovitog soka od trave pšenice i spelte.
              Za sve naše proizvode koristimo isključivo certificirana organska sjemena.
              Naš cilj je da ljudimo približimo naša iskustva te podijelimo blagodat naših proizvoda sa svima onima koji to žele.
              Sve što Vas zanima možete naći na ovom sajtu.
            </p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#proizvodi">proizvodi</a></div>
        </div>
      </div>
    </section>

    <section id="proizvodi">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Proizvodimo i nudimo Vama</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container productsCont">
        <div class="row">
        <div class="col-lg-3 col-6 p-4 p-lg-4 text-center">
           <a  class ="textno" [routerLink]="['/klice']">
            <div class="service-box mt-5 mx-auto"><em class="fas fa-4x mb-3 sr-icon-3"><img src="../../assets/img/klice.jpg" class="img-fluid" alt=""/></em>
              <h3 class="mb-3 " > klice </h3>
              <p class="text-muted mb-0">najzdraviji oblik biljke, mineralno energetske bombe</p>
            </div>
            </a>
          </div>
          <div class="col-lg-3 col-6 p-4 p-lg-4 text-center">
            <div class="service-box mt-5 mx-auto"><img src="../../assets/img/mikro.jpg"  class="img-fluid" alt=""/>
              <h3 class="mb-3">mikropovrće&nbsp;</h3>
              <p class="text-muted mb-0">malo starije od klica, ali svojim izgledom i ukusom najviše mame</p>
            </div>
          </div>
          <div class="col-lg-3 col-6 p-4 p-lg-4 text-center">
            <div class="service-box mt-5 mx-auto"><img src="../../assets/img/psenica.jpg"  class="img-fluid" alt=""/>
              <h3 class="mb-3">sok od pšenične trave</h3>
              <p class="text-muted mb-0">zelena krv</p>
            </div>
          </div>
          <div class="col-lg-3 col-6 p-4 p-lg-4 text-center">
            <div class="service-box mt-5 mx-auto"><img src="../../assets/img/srce.jpg"  class="img-fluid" alt=""/>
              <h3 class="mb-3">napravljeno s ljubavlju</h3>
              <p class="text-muted mb-0">svaki naš proizvod je domaći<br>
                #supportlocal</p>
            </div>
          </div>
        </div>
      </div>
    </section>
<hr>
    <section class="p-0" id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-3 col-6">
            <a class="portfolio-box">
                <img src="../../assets/icons/info.svg" class="infoIcon" alt="">
              <img class="img-fluid productsImg" src="../../assets/img/portfolio/thumbnails/1.png" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    klice
                  </div>
                  <div class="project-name">
                   alfalfa
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-6">
              <img src="../../assets/icons/info.svg" class="infoIcon" alt="">
            <a class="portfolio-box">
              <img class="img-fluid productsImg" src="../../assets/img/portfolio/thumbnails/2.png" alt="">
              <img src="../../assets/icons/info.svg" class="infoIcon" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    klice mix1
                  </div>
                  <div  class="project-name">
                      <br>
                        rotkvica china rose <br>
                        mungo grah <br>
                        alfalfa
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-6">
              <img src="../../assets/icons/info.svg" class="infoIcon" alt="">
            <a class="portfolio-box">
              <img class="img-fluid productsImg" src="../../assets/img/portfolio/thumbnails/3.png" alt="">
              <img src="../../assets/icons/info.svg" class="infoIcon" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                   mikropovrće
                  </div>
                  <div class="project-name">
                    brokula
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-6">
              <img src="../../assets/icons/info.svg" class="infoIcon" alt="">
            <a class="portfolio-box">
              <img class="img-fluid productsImg" src="../../assets/img/portfolio/thumbnails/4.png" alt="">
              <img src="../../assets/icons/info.svg" class="infoIcon" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                   mikropovrće mix 1
                  </div>
                  <div class="project-name">
                   <br>
                    cvekla <br>
                    crveni kupus<br>
                    suncokret
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-6">
            <a class="portfolio-box">
              <img class="img-fluid productsImg" src="../../assets/img/portfolio/thumbnails/5.png" alt="">
              <img src="../../assets/icons/info.svg" class="infoIcon" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    klice mix 2
                  </div>
                  <div class="project-name">
                     <br>
                    rotkvica Daikon <br>
                    leće<br>
                    alfalfa
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-6">
            <a class="portfolio-box">
              <img class="img-fluid productsImg" src="../../assets/img/portfolio/thumbnails/6.png" alt="">
              <img src="../../assets/icons/info.svg" class="infoIcon" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    klice mix 3 
                  </div>
                  <div class="project-name">
                    <br>
                    piskavica <br>
                    alfalfa<br>
                    
                  </div>
                </div>
              </div>
            </a>
          </div>
          
          <div class="col-lg-3 col-6">
            <a class="portfolio-box">
              <img class="img-fluid productsImg" src="../../assets/img/portfolio/thumbnails/8.png" alt="">
              <img src="../../assets/icons/info.svg" class="infoIcon" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    mikropovrce mix 2
                  </div>
                  <div class="project-name"><br>
                    rukola<br>
                    muštarda (senf) <br>
                    rotkvica china rose<br>
                            <br>
                   
                  </div>
                </div>
              </div>
            </a>
          </div>
           <div class="col-lg-3 col-6">
            <a class="portfolio-box">
              <img class="img-fluid productsImg" src="../../assets/img/portfolio/thumbnails/7.png" alt="">
              <img src="../../assets/icons/info.svg" class="infoIcon" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    sok od spelte
                  </div>
                  <div class="project-name"><br>
                   100% organski proizvod
                  </div>
                </div>
              </div>
            </a>
          </div>
       
          
          
        </div>
      </div>
    </section>
