
  header.masthead {
    // padding-top: 10rem;
    // padding-bottom: calc(10rem - 56px);
    /* background-image: url("../img/header.jpg"); */
    background-image: url("../../assets/img/headerKlice.jpg"); 
    background-position: center center;
    background-size: cover;
    height: 100vh;
  }
  
section {
  padding: 3rem 0;
}
  
  @media (max-width: 992px) {
    header.masthead {
      background-position: 80% 50%;
    }
  }
  @media (max-width: 576px) {
    .heading{
      margin-top: 8rem;

    }
    header.masthead {
      background-position: 70% 50%;
    }
  }
  @media (max-width: 400px) {
    header.masthead {
      background-position: 65% 50%;
    }
  }