<app-navbar [aColor]="'black'"></app-navbar>
  <header class="masthead text-center text-black d-flex">
    <div class="container ">
      <div class="row">
        <div class="col-lg-8 offset-1 mainContent text-left">
          <h1 class="text-uppercase mainHed mb-4">Vrste klica</h1>
          <br>
          <h2>Pogledajte našu <br> ponudu klica</h2>
        </div>
        <hr>
      </div>
    </div>
  </header>
  
  <section class="bg-primary">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2 class="section-heading text-white text-center">Mungo grah&nbsp;</h2>
          <hr class="light my-4">
        </div>
        <div class="col-md-6 m-auto text-center">
          <div class="text-faded text-justify p-3 p-xl-5">
            <p class="m-0"> Klice mungo graha su hrskavog i svježeg okusa. Bogate proteinima i škrobom. One ne sadrže ulje. Tijekom klijanja se uveliko povećava koncentracija vitamina: riboflavin je pet puta veći, niacin deset puta. Bogate su vitaminom E, A i C, kao i željezom, kalcijem, kalijem, magnezijem i fosforom. Reguliraju razinu kolesterola, čiste krv i jetru.</p>
            <p> Mogu se jesti sirove ili kratko termički obrađene pa se često dodaje vok jelima s rižom , prosom i geršlom. Umjesto mesa kod umaka za tjesteninu, kao punjenje za tjesteninu ( tortelini ), u roladama, knedlama u jelima sa jajima , u povrtnim pecivima , za pizze  kao povrće u nabujcima ili se kratko blanširane poslužuju kao jestiva dekoracija.</p>
          </div>
        </div>
        <div class="col-md-4 col-8 m-auto ">
          <img src="../../assets/img/mungo.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2 class="section-heading text-black text-center">Alfalfa&nbsp;</h2>
          <hr class=" my-4">
        </div>
        <div class="col-md-4 col-8 m-auto ">
          <img src="../../assets/img/alfa.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-6  m-auto text-center ">
          <p class="text-black text-justify my-4 p-3 p-xl-5  lead ">
            Klice alfalfa ili lucerke  spadaju među najpopularnije klice. Najčešće se zbog svog ukusa i izgleda koriste kao dodatak / dekoracija raznim jelima, ali ono što je manje poznato jesu njihova ljekovita svojstva: 
            Jačanje imunog sistema – Klice lucerke su bogate saponinima, hemijskim jedinjenjem koje igra važnu ulogu u jačanju imunog sistema aktiviranjem prirodnih ćelija ubica, T-limfocita i interferona.
            <small class="text-info cursorPointer">vidi više</small>

          </p>
          <!-- <p> Antiinflamatorna svojstva – ova svojstva saponina pomažu u spriječavanju šloga, smanjuju inflamatorni proces kod artritisa i snižavaju hronične inflamatorne procese.
              Holesterol – saponini pomažu snižavanje lošeg holesterola (LDL), uz održavanje nivoa dobrog holesterola (HDL)
              Antioksidanti – klice lucerke su poznate kao jedna od namirnica sa najvišim procentom antioksidanata, koji su od ključnog značaja za jačanje imunog sistema, kao i borbu protiv slobodnih radikala. Antioksidanti pomažu u prevenciji srčanih oboljenja, moždanog udara i raka.
              Poboljšanje zdravlja srca – zbog svojih anti-inflamatornih svojstava, saponini su djelotvorni protiv ateroskleroze, kao i drugih kardiovaskularnih oboljenja.
              Poboljšanje zdravlja kostiju – Estrogen, jedinjenje koje se nalazi u klicama lucerke, pomaže spriječavanju osteoporoze tako što povećava stepen formiranja kostiju i poboljšava gustinu kostiju.
              Kontrola šećera u krvi – zabilježeno je smanjenje nivoa šećera u krvi kod pacijenata koji su koristili klice lucerke u svakodnevnoj ishrani.
              Antikancerogena svojstva – klice lucerke su bogate i kanavaninom, aminokisjelinom koja je korisna u borbi protiv leukemije, raka pankreasa i raka debelog crijeva, kao i fibrocističnih tumora dojke.
              Gojaznost – klice lucerke su izuzetno ukusne, niskokalorične, bogate proteinima i vlaknima, tako da se mogu koristiti kao odlična alternativa masnoj i kaloričnoj hrani, čime se direktno utiče na smanjenje masnih naslaga u tijelu.
              Kako nemaju negativnih dejstava, klice lucerke mogu se koristiti u svakom obroku, kao i tokom svih životnih doba.
          </p> -->
        </div>
      </div>
    </div>
  </section>
  <div class="lineDivDark my-3 "></div>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2 class="section-heading text-black text-center">Rotkvice&nbsp;</h2>
          <hr class=" my-4">
        </div>
        <div class="col-md-5 col-12 m-auto">
          <img src="../../assets/img/china.png" alt="" class="img-fluid">
          <h3 class="text-center">China rose</h3>
        </div>
        <div class="col-md-5 col-12 m-auto">
          <img src="../../assets/img/daikon.png" alt="" class="img-fluid">
          <h3 class="text-center">Daikon</h3>
        </div>
        <div class="col-9 mx-auto mt-4 text-center">
          <p>Klice rotkvice su bogate vlaknima, vitmanom C, folnom kiselinom, kalijumom, a sadrže vrlo malo kalorija, zbog čega su odlična namirnica za proljetno čišćenje organizma. <br>
            Sumporni heterozidi daju rotkvici specifičan miris i ljutinu, a što je klica rotkvice ljuća, to je zdravija i korisnija za organizam. <br> Na varenje najbolje utiču kada se jedu svježe i sirove, pa ih jedite kao salatu ili prosto grickajte dok gledate televiziju, i na taj način ubrzajte vaš metabolizam.
            <br> Indijski naučnici otkrili su da klice rotkvice izazivaju apoptozu – odnosno drugim riječima ubijaju ćelije raka.  <small class="text-info cursorPointer">vidi više</small>
            <!-- One su naročito djelotvorne kao prevencija ili pomoć kod liječenja raka debelog crijeva. Pored toga, uspješno “napadaju” i ćelije raka bubrega, želuca i usne duplje.
            Klice rotkvice pomažu kod hroničnih oboljenja disajnih puteva i djeluju kao prirodni inhalator. One, naime, pozitvno djeluju na izlučivanje sluzi iz disajnih organa, zbog čega se preporučuju svima koji imaju problema sa začepljenjim nosom, čestim upalama sinusa i infekcijama dijasnih puteva, te boluju od astme ili bronhitisa.
            Vlakna, vitamini i minerali iz klica rotkvice poboljšaće zdravlje kardiovaskularnog sistema jer snižavaju holesterol, sprečavaju dijabetes, regulišu krvni pritisak i nivo šećera u krvi.
            Unošenjem klica rotkvice u organizam stimulišete rad jetre i žučne kese i čistite krv. Vlakna iz rotkvica podstiču lučenje probavnih sokova i regulišu pražnjenje crijeva, pa organizam lakše izbacuje toksine, a posebno se preporučuju osobama koje pate od zatvora.
            Klice rotkvice su vrlo efektivne u sprečavanju infekcija urinarnog trakta.  Mogu da ublaže simptome, kao i peckanje tokom infekcije urinarnog trakta, te da pomogne da se infekcija brže izliječi.
            Rotkvica stimuliše proizvodnju žuči, što je veoma važno za zdravlje jetre. Sadrži materije koje regulišu proizvodnju bilirubina, pa je odlična namirnica i u borbi protiv žutice.
            S obzirom da su klice rotkvice bogate vlaknima i vitaminima koji regulišu probavu, zadržava vodu i liječi zatvor, one su odličan borac i protiv hemoroida. 
            Ova namirnica pomaže i u borbi protiv bubuljica i akni, čak i najupornijih i najproblematičnijih, a u ove svrhe možete piti sok, ali i nanositi masku napravljenu od ove namirnice. Masku možete lako napraviti i sami tako što ćete rotkvice samljeti u blenderu, a potom dobijenu smjesu pomiješati sa malo vode. Masku nanesite na lice nježno trljajući vrhovima prstiju. Umijte se, pokupite višak vode peškirom i sačekajte 5 minuta da se koža u potpunosti osuši.
            Konzumacija klica od rotkvice pomaže u borbi protiv bubuljica i akni a djelotvorne su i za  zdravlje vaše kose.  -->
            </p>
        </div>
      </div>
    </div>
  </section>
  <div class="lineDivDark my-3 "></div>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2 class="section-heading text-black text-center">Piskavica&nbsp;</h2>
          <hr class=" my-4">
        </div>
        <div class="col-md-6 m-auto text-center">
          <p class="text-black text-justify mb-4 p-3 p-xl-5 ">
            Klice  piskavice su bogat izvor proteina, minerala, vitamina i fitonutrijenata.
            Među ljekovitim spojevima su kolin, trigonelin diosgenin, jamogenin, tigogenin i neotigogenin. <br>
            Od vrijednih minerala, sadrži bakar, željezo, magnezij i mangan.

            To je jedna od najstarijih ljekovitih biljaka koja datira još od doba starih Egipćana i Hipokrata. <br>

            Piskavica (lat. Trigonella foenum-graecum), može se svrstati u prirodna čuda antičkog doba, kada je bila izvanredno hvaljena i cijenjena.<small class="text-info cursorPointer">vidi više</small>
            <!-- Piskavica smiruje i liječi sluznicu dišnog, probavnog i urogenitalnog trakta. Snižava kolesterol u krvi već nakon 10 dana primjene. Djelotvorna je protiv alergija, stimulira metabolizam jetre i bubrega te općenito zagrijava tijelo.
            Piskavicom se ostvaruju odlični rezultati u liječenju dijabetesa. Uspostavlja ravnotežu šećera u krvi kod oba tipa dijabetesa zahvaljujući aminokiselini 4-hidroksi- izoleucin, koja kontrolira lučenje inzulina. Prema nekim navodima uzimanje 50 g piskavice na dan u prosjeku dovodi do 30-postotnog poboljšanja nalaza već u roku od 10 dana.
            Popularna je i kod tretmana kardiovaskularnih problema, jer snizuje kolesterol i razine triglicerida te pomaže protiv ateroskleroze i stvrdnjavanja arterija. -->
          </p>
        </div>
        
        <div class="col-md-4 col-8 m-auto ">
            <img src="../../assets/img/piskavica.png" alt="" class="img-fluid">
          </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2 class="section-heading text-black text-center">Psenica&nbsp;</h2>
          <hr class=" my-4">
        </div>        
        <div class="col-md-4 col-8 m-auto ">
            <img src="../../assets/img/psenica2.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-md-6 m-auto text-center">
          <p class="text-black text-justify mb-4 p-3 p-xl-5">
            „Proklijala zrna psenice sadrze niz bioloski aktivnih supstanci, vitamine E, C, grupe B, ugljene hidrate, bjelančevine, biljna vlakna, minerale, narocito fosfor, kalijum, magnezijum.“ – kaze ruski ljekar Mihail Gurvic. <br>
            Psenicne klice su mocan bioloski stimulans: ima antioksidantna svojstva, normalizuje metabolizam, poboljsava krv i metabolizam. <br>
            Proklijala zrna psenice u sebi sadrze esencijalne amino kiseline i povecani vise puta- broj svih vitamina, koji su neophodni nasem organizmu.
            <!-- ⦁	Psenica je bogata kalijumom, sto cini nase misice jacim, a takodje jaca i srcani misic. Hrom i litijum u zrnima, su rijetki minerali koji  imaju pozitivno dejstvo na nervni sistem i stite nas od nervnog „izgladnjivanja“(stresa).
            ⦁	Spoljasnje ljuske zrna su bogate vlaknima, koja imaju blagotvorno dejstvo na varenje i stimulaciju creva. Redovno konzumiranje proklijalih zrna psenice moze posluziti kao prevencija od raka debelog creva i rektuma. Vlakna u zrnima pomazu u odrzavanju optimalne ravnoteze crevne mikroflore i uklanjanju toksina iz organizma.
            ⦁	Produžena upotreba proklijale psenice poboljsava vid i ima pozitivan uticaj na zube, kosu, nokte i kozu.
            ⦁	Psenicne klice mogu se preporuciti onima koji su odlucili ⦁	izgubiti tež⦁	inu. Čvrste klice zahtevaju dugo i temeljno zvakanje. Osecaj sitosti, kao sto znamo, pojavljuje se neko vreme posle obroka, tako da je duzi proces obavljanja jela moze smanjiti kolicinu hrane.
            Evo zakljucka naucnika naturopata o koristi psenicne klice u ishrani:
            ⦁	regulise, obnavlja i stabilizuje pravilno funkcionisanje vitalnih funkcija tela u bilo kom zivotnom dobu
            ⦁	podmladjuje i stabilizuje sve sisteme organizma
            ⦁	eliminise razlicite neoplazme malignih i benignih tumora, polipa, fibroida
            ⦁	obogacuje krv kiseonikom
            ⦁	gase razlicite infekcije i zapaljenske procese
            ⦁	uklanjaju iz organizma stetne materije, toksine, visak holesterola
            ⦁	normalizuju i stabilizuju metabolizam, ciste creva
            ⦁	ojacavaju ceo kardiovaskularni sistem
            ⦁	pomazu zdravom gubitku suvisnih kilograma: 3-4 kasike psenicnih klica zamenjuju obilan dorucak
            Treba znati i to da su psenicne klice prilicno teska hrana za stomak, tako da je najbolje nju unositi u organizam ujutru. Ljudi sa bolestima gastrointestinalnog trakta prije upotrebe proklijale psenice treba da konsultuju svog lekara. -->
            
            
            
            
            <!-- Postoje brojna naučna ispitivanja o djelotvornosti pšeničnih klica na ljudski organizam. 
            Izdvajamo
            Poznatog ruskog naučnika, profesora Hrista Mermerskog i njegov recept za liječenje. 
            “To je hrana za liječenje kompletnog organizma, a rak se u takvom organizmu samo povuče”, rekao je u svojim predavanjima prof. Mermerski.
            Tajna je u tome što ova smjesa čisti krvne žile, liječi srce, obnavlja imunitet, čisti jetru i bubrege. Takođe, poboljšava rad mozga i pamćenje, čuva od infarkta i dovodi do izlečenja onih koji su doživeli infarkt ili moždani udar. Mnogi govore i da je reč o najboljem sredstvu protiv svih vrsta raka!
            Sastojci  za pripremanje eliksira
            15 svježih neprskanih limuna,
            12 glavica svežeg bijelog luka,
            1 kg livadskog meda,
            400 g svježih pšeničnih klica pšenice
            400 g oraha.
            Priprema ljeka
            Samljeti zajedno proklijalu pšenicu, orahe i očišćene glavice bjelog luka. Samljeti 5 limunova sa koricom, pa sve zajedno izmješati. Od ostalih 10 uzeti samo sok i pomješati sa ostalom masom, dok smjesa ne postane homogena.
            Dodati med i duže mješati drvenom kašikom, pa sipati u staklene posude. Ostavite ih da stoje 3 dana u frižideru, pa onda možete početi sa konzumiranjem.
            Primjena lijeka
            Ova hrana uzima se 30 minuta prije doručka, prije ručka, prije večere i prije spavanja. Ako je koristite za liječenje raka, uzimajte jednu do dve kašike svaka 2 sata.
            Profesor Mermerski kaže da recept garantuje zdravlje i dug život, kao i izlječenje od raka, očuvanje svježine tijela, mladosti i energije.
            "Ovaj lijek sadrži sve neophodne vitamine, mineralne soli, bioaktivne supstance, proteine, ugljene hidrate i biljne masti. Zato i poboljšava rad svih unutrašnjih organa i žlijezda, koje održavaju tijelo zdravim, a dovodi i do izlječenja od raka u potpunosti", istakao je doktor. -->
             
          </p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2 class="section-heading text-black text-center">Lece&nbsp;</h2>
          <hr class=" my-4">
        </div>
        <div class="col-md-6 m-auto text-center">
          <p class="text-black text-justify mb-4 p-3 p-xl-5">
            Klice leće smanjuju holesterol u krvi – sadrži visoku dozu topljivih vlakana. Smanjenjem razine kolesterola u krvi smanjujete rizik od moždanog udara i srčanih bolesti.
            <br> Zdravlje srca – leća je veliki izvor magnezija i  folata. Folat smanjuje razinu homocisteina dok	magnezij poboljšava protok krvi. Nedostatak magnezija izravno je povezan s bolestima srca stoga je leća odličan saveznik u očuvanju vašeg zdravlja.
            <br> Probava – netopljiva dijetalna vlakna u leći pomažu kod problema s probavom i podržavaju raznovrsnu crijevnu mikrofloru. 
            <!-- Bogata je proteinima – od svih mahunarki i orašastih plodova leće sadrže najveću količinu proteina. Čak 26% nutrijenata u leći otpada na proteine što je čini idealnim izborom za vegane i vegetarijance.
            Iako klice leća obuhvataju sve korisne hranjive tvari poput vlakana, proteina, minerala i vitamina, i dalje imaju nisku kaloričnu vrijednost i ne sadrži gotovo nikakve masnoće. -->

          </p>
        </div>
        
        <div class="col-md-4 col-8 m-auto ">
            <img src="../../assets/img/piskavica.png" alt="" class="img-fluid">
          </div>
      </div>
    </div>
  </section>
