<app-navbar [aColor]="'black'"></app-navbar>
<header class="masthead text-center text-black d-flex">
  <div class="container ">
    <div class="row">
      <div class="col-12 mainContent text-left">
        <h1 class="text-uppercase  mb-4">Klice</h1>
        <br>
        <!-- <h2>Pogledajte našu <br> ponudu klica</h2> -->
      </div>
      <!-- <div class="row mt-5 mt-sm-1">
          <div class="col-1"></div>
          <div class="col-10 col-sm-8 col-lg-5 text-justify mt-5 bg-white-text p-3">
            
          </div>
        </div> -->
      <hr>
    </div>
    <div (click)="generalService.scrollTo()" class="container-scroll cursorPointer">
      <div class="chevron"></div>
      <div class="chevron"></div>
      <div class="chevron"></div>
      <span class="text">Scroll down</span>
    </div>

  </div>
</header>
<section class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-heading text-white text-center">&nbsp;
          Šta su klice ?
        </h2>
        <hr class="light my-4">
      </div>
      <div class="col-md-12 order-2 order-md-1 m-auto text-center">
        <div class="text-white text-justify p-3 p-xl-5">
          <p class="m-0 lead">
            Klijanje sjemena dolaze iz naše organske farme što garantuje nedostatak pesticida i umjetnih gnojiva. Čini
            ih potpuno prirodnim, organskim proizvodom s visokim prehrambenim svojstvima.
            Klijanje je buđenje sjemena nakon dugog mirovanja, te prestavlja izninumno aktiviranje svih važnih
            supstanci, tako da konzumiranjem dobijamo:
          </p>
          <div class="row mt-3">
            <div class="col-sm-4 col-6 mt-4">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Vitamine
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Vitamine A, B, C i E. prilikom klijanja vrijednosti se uvečavaju i preko 20 puta.</p>
              </mat-expansion-panel>
            </div>
            <div class="col-sm-4 col-6 mt-4">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Masne kiseline
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Sadržaj esencijalnih masnih kiselina također buja pri klijanju.</p>
              </mat-expansion-panel>
            </div>
            <div class="col-sm-4 col-6 mt-4">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Vlakna  
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Najvažnija za probavu i mršavljenje, jer se vežu na masti i toksine u našem tijelu i olakšavaju njihovo odstranjivanje.</p>
              </mat-expansion-panel>
            </div>
            <div class="col-sm-4 col-6 mt-4">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Klorofila
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Vitalizira organizam i daje mu kisik nazivamo ga još biljna krv ili eliksir života.</p>
              </mat-expansion-panel>
            </div>
            <div class="col-sm-4 col-6 mt-4">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Proteina 
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Biljni proteini smanjuju krvni pritisak, tjelenu težinu, smanjuju rizik od bolesti srca smanjiti razinu šečerau krvi.</p>
              </mat-expansion-panel>
            </div>
            <div class="col-sm-4 col-6 mt-4">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Enzimi
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Enzimi su posebne vrste bjelančevina koje djeluju kao katalizatori za sve tjelesne funkcije koje prilikom klijanja narastu i do sto puta više od voća i povrća.</p>
              </mat-expansion-panel>
            </div>
            <div class="col-6 m-auto pt-4">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Minerale
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Tijekom klijanja minerali se vežu za bjelančevine, što tijelu olakšava njihovu apsorpciju. To vrijedi i za alkalne minerale kao što su kalcij, magnezij, željezo, kalij i mangan koji alkaliziraju tjelo te nedozvoljavaju širenju kancera koji traži kiseo organizam.</p>
              </mat-expansion-panel>
            </div>
            <div class="col-12 mt-4">
              <p class="lead text-center">
                Klice moraju biti sasvim svježe i treba ih čuvati u hladnjaku. 
              </p>
            </div>  
          </div>      
        </div>
      </div>
      
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-heading text-black text-center">Mungo grah&nbsp;</h2>
        <hr class=" my-4">
      </div>
      <div class="col-md-5 col-8 m-auto ">
        <img src="../../assets/img/mungo.png" alt="" class="img-fluid ">
      </div>
      <div class="col-md-7  m-auto text-center ">
        <div class="text-black text-justify my-4 p-3 p-xl-5  lead ">
          <p>
            Čisti organizam od toksina i jača funkciju jetre.
          </p>
          <p>
            Najpoznatija je Aziskim zemljama ali ju je i cijeli svjet prihvatio kao najpopularniju klicu, vrlo slasna , prijatno hrskava,daje sitost te prilikom blendanja dobijamo kremastu teksturu.
          </p>          
          Klice mungo graha pomažu dezinfekciji krvi i jetru te reguliše kolesterol. <br> One čiste organizam od toksina i jačaju funkciju jetre i krvi, a u sebi sadrže vitamin,proteine,  folnu kiselinu, mnogo minerala poput kalcija, cinka, željeza i magnezija, kao i B vitamine. 
          <small [routerLink]="['mungo grah']" class="text-info cursorPointer">vidi više</small>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="lineDivDark my-3 "></div>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-heading text-black text-center">Alfalfa&nbsp;</h2>
        <hr class=" my-4">
      </div>
      <div class="col-md-5 col-8 m-auto ">
        <img src="../../assets/img/alfa.png" alt="" class="img-fluid ">
      </div>
      <div class="col-md-7  m-auto text-center ">
        <p class="text-black text-justify my-4 p-3 p-xl-5 lead">
          Sadrže mnoštvo vitamina, minerala, proteina, vlakna i klorofil, alkaliziraju tijelo i potiču samu apsorpciju proteina. <br>Sprečavaju nastanak osteoporeze, srčanih bolesti, dijabetisa, ublažavaju simptone menopauze, liječi bolesti crijeva i želučanih problema.
          <br> <br>
          Ima visok udio vitamina A, C, D, E i K te vitamine B kompleksa.
          Odlične za pipremanje smoothie napitaka, posjeduju posebnu sočnost koju djeca prepoznaju i vole <br><br>
          Blagog su okusa tako da ih možemo koristiti kao prilog raznim jelima salatama i pojedinačno kao nešto zdravo, neobično, sočno i odlično umjesto svih grickalica.
          <small [routerLink]="['alfalfa']" class="text-info cursorPointer">vidi više</small>
        </p>
      </div>
    </div>
  </div>
</section>
<div class="lineDivDark my-3 "></div>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h2 class="section-heading text-black text-center">Rotkvice&nbsp;</h2>
        <hr class=" my-4">
      </div>
      <div class="col-md-5 col-12 m-auto">
        <img src="../../assets/img/china.png" alt="" class="img-fluid ">
        <h3 class="text-center">China rose</h3>
      </div>
      <div class="col-md-5 col-12 m-auto">
        <img src="../../assets/img/daikon.png" alt="" class="img-fluid ">
        <h3 class="text-center">Daikon</h3>
      </div>
      <div class="col-9 mx-auto mt-4 text-center">
        <p class="lead">
          Nutricionisti preporučuju daikon dijeta, kao jedan od najučinkovitijih i uravnoteženih za one koji žele izgubiti težinu i poboljšati funkcionisanja kompletnog organizma jer ga čisti a poboljšava vid.
          <small [routerLink]="['rotkvice']" class="text-info cursorPointer">vidi više</small> </p>
      </div>
    </div>
  </div>
</section>
<div class="lineDivDark my-3 "></div>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h2 class="section-heading text-black text-center">Piskavica&nbsp;</h2>
        <hr class=" my-4">
      </div>
      <div class="col-md-7 order-2 order-md-1 m-auto text-center">
        <p class="text-black text-justify mb-4 p-3 p-xl-5 lead">
          Grci su koristili klice piskavice za snagu prije borbe. <br>
          Potvrđeno je znanstvenim studijama da je piskavica vrlo djelotvorna u slučaju hormonskog disbalansa, posebno u menopauzi i tijekom PMS-a. 
          Stimulira proizvodnju mlijeka kod dojilja, djeluje na sniženje razine šećera u krvi, “lošeg” kolesterola i krvnog tlaka, smanjuje apetit, 
          djeluje protiv bolnih menstruacija, umanjuje žgaravicu, regulira koncentraciju šećera u krvi za oba tipa dijabetisa.
          Djeluje na povišenje koncentracije testosterona i libida kod muškaraca.
          <small [routerLink]="['piskavica']" class="text-info cursorPointer">vidi više</small>
        </p>
      </div>

      <div class="col-md-5 col-8 order-1 order-md-2 m-auto ">
        <img src="../../assets/img/piskavica.png" alt="" class="img-fluid ">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h2 class="section-heading text-black text-center">Klice pšenice – <small>podmlađuju tijelo i daju mu odličnu energiju.</small>&nbsp;</h2>
        <hr class=" my-4">
      </div>
      <div class="col-md-5 col-8 m-auto ">
        <img src="../../assets/img/psenica2.jpg" alt="" class="img-fluid ">
      </div>
      <div class="col-md-7 m-auto text-center">
        <p class="text-black text-justify mb-4 p-3 p-xl-5 lead">
          Klice pšenice potiču rad metabolizma i uklanjaju stres. Sadrže bjelančevine, kalij, kalcij, fosfor, željezo, jod, natrij, magnezij, vitamin E i B te su bogate i vlaknima. <br><br>
          Ukusan su dodatak salatama, juhama, jelima s pahuljicama i desertima. Velika količina kalcija je korisna za žene. <br><br> Redovita konzumacija pšeničnih klica jača kosu - čini je glatkom i svilenkastom. 
          Nokti postaju jači i jači, a kosti su zbijenije. Drobljena kaša od pšeničnih klica se koristi kao maska ​​za lice koja izglađuje bore.
          <br><br>
          Povečava fukciju oplodnje kod muškaraca. 
          Tri kašike pšeničnih klica dnevno sigurno dovodi do gubljenja kilograma.
          <small [routerLink]="['klice-pšenice']" class="text-info cursorPointer">vidi više</small>
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h2 class="section-heading text-black text-center">Leće&nbsp;</h2>
        <hr class=" my-4">
      </div>
      <div class="col-md-7 order-2 order-md-1 m-auto text-center">
        <p class="text-black text-justify mb-4 p-3 p-xl-5 lead">
          Bogate su proteinima, ugljikohidratima ,vlaknima i mineralima kao što su magnezij, željezo, cink, folat, fosfor, kalij, bakar. Posjeduju i vitamine C i B. <br>
          Djeluju kao diuretik, jačaju srce i imuni sustav, reguliše rad jetre. Ima nizak glukemijski indeks te je dobar za dijabetičare i anemičare. <br>
          Idealan su dodatak sokovima od povrća, salatama i pirjanim jelima. Prilikom upotrebe su jako zasitne i lako probavljive. 
          Prilikom miksanja dobijamo hranjivi kremasti smuti, a naša preporuka u smutije uvjek dodavati limun ili naranču. 
        </p>
      </div>

      <div class="col-md-5 col-8 m-auto order-1 order-md-2">
        <img src="../../assets/img/lecePng.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>