<app-navbar [aColor]="'black'"></app-navbar>
  <header class="masthead text-center text-black d-flex">
    <div class="container ">
      <div class="row">
        <div class="col-lg-8 offset-1 mainContent text-left">
          <h1 class="text-uppercase mainHed mb-4">Vrste klica</h1>
          <br>
          <h2>Pogledajte našu <br> ponudu klica</h2>
        </div>
        <hr>
      </div>
    </div>
  </header>
  
  <section class="bg-primary">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2 class="section-heading text-white text-center">Mungo grah&nbsp;</h2>
          <hr class="light my-4">
        </div>
        <div class="col-md-6 m-auto text-center">
          <p class="text-faded text-justify mb-4 p-3 p-xl-5 lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, eius enim suscipit cumque molestias
            obcaecati repudiandae distinctio aliquam ducimus minima ullam. Provident aperiam earum debitis dolorum! A
            beatae ratione totam!
          </p>
          
        </div>
        <div class="col-md-4 col-8 m-auto ">
          <img src="../../assets/img/mungo.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2 class="section-heading text-black text-center">Alfalfa&nbsp;</h2>
          <hr class=" my-4">
        </div>
        <div class="col-md-4 col-8 m-auto ">
          <img src="../../assets/img/alfa.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-4  m-auto text-center ">
          <p class="text-black text-justify my-4 p-3 p-xl-5  lead ">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, eius enim suscipit cumque molestias
            obcaecati repudiandae distinctio aliquam ducimus minima ullam. Provident aperiam earum debitis dolorum! A
            beatae ratione totam!
          </p>
          
        </div>
      </div>
    </div>
  </section>
  <div class="lineDivDark my-3 "></div>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2 class="section-heading text-black text-center">Rotkvice&nbsp;</h2>
          <hr class=" my-4">
        </div>
        <div class="col-md-5 col-12 m-auto">
          <img src="../../assets/img/china.png" alt="" class="img-fluid">
          <h3 class="text-center">China rose</h3>
          <p class="text-black text-justify mb-4 p-3 p-xl-5  lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, eius enim suscipit cumque molestias
            obcaecati repudiandae distinctio aliquam ducimus minima ullam. Provident aperiam earum debitis dolorum! A
            beatae ratione totam!
          </p>
        </div>
        <div class="col-md-5 col-12 m-auto">
          <img src="../../assets/img/daikon.png" alt="" class="img-fluid">
          <h3 class="text-center">Daikon</h3>
          <p class="text-black text-justify mb-4 p-3 p-xl-5  lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, eius enim suscipit cumque molestias
            obcaecati repudiandae distinctio aliquam ducimus minima ullam. Provident aperiam earum debitis dolorum! A
            beatae ratione totam!
          </p>
        </div>
      </div>
    </div>
  </section>
  <div class="lineDivDark my-3 "></div>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2 class="section-heading text-black text-center">Piskavica&nbsp;</h2>
          <hr class=" my-4">
        </div>
        <div class="col-md-4 m-auto text-center">
          <p class="text-black text-justify mb-4 p-3 p-xl-5  lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, eius enim suscipit cumque molestias
            obcaecati repudiandae distinctio aliquam ducimus minima ullam. Provident aperiam earum debitis dolorum! A
            beatae ratione totam!
          </p>
        </div>
        
        <div class="col-md-4 col-8 m-auto ">
            <img src="../../assets/img/piskavica.png" alt="" class="img-fluid">
          </div>
      </div>
    </div>
  </section>
