<app-navbar [aColor]="'black'"></app-navbar>
<div id="page-top">
  <header class="masthead text-center text-black d-flex">
    <div class="container ">
      <div class="row">
        <div class="col-lg-8 offset-1 mainContent text-left">
          <h1 class="text-uppercase mainHed mb-4">Vrste mikropovrća</h1>
          <br>
          <h2>Pogledajte našu <br> ponudu mikropovrća</h2>
        </div>
        <hr>
      </div>
      <div (click)="generalService.scrollTo()" class="container-scroll cursorPointer">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
        <span class="text">Scroll down</span>
      </div>
    </div>
  </header>
  <section class="bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="section-heading text-white text-center">&nbsp;
            Mikro bilje - <small>super hrana</small>
          </h2>
          <hr class="light my-4">
        </div>
        <div class="col-md-12 order-2 order-md-1 m-auto text-center">
          <div class="text-white text-justify p-3 p-xl-5">
            <p class="m-0 lead">
              Jedna od vodećih i rijetkih namirnica koja nije prskana niti tretirana, koju možemo nesmetano da jedemo i nudimo našim dragim osobama bez bojazni šta su pojeli, te da se nakon konzumiranja osjećamo sretno i zadovoljno. <br>
              Prvi put predstavljene 1980-ih godina u jednom kalifornijskom restoranu, mini biljke (zovu ih još i biljne konfete ili mikrozeleniš) vrlo brzo postale su nezamjenjiv dodatak kuhinje svih koji žele da se hrane zdravo. 
              Mikro zelenje je tada bilo isključivo kao specijalitet za ekskluzivne restorane, a danas ga sve više možemo pronaći i u maloprodaji za kućne potrebe čak i kod nas. <br>
              Radi lakše upotrebe naše mikro bilje je pakovano u miksovima, a po nazudžbi možete dobiti i pojedinačno.
            </p>    
          </div>
        </div>
        
      </div>
    </div>
  </section>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2 class="section-heading text-black text-center">Brokula&nbsp;</h2>
          <hr class="light my-4">
        </div>
        <div class="col-lg-6 m-auto order-2 order-md-1 text-center">
          <p class="text-justify mb-4 p-5 lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, eius enim suscipit cumque molestias
            obcaecati repudiandae distinctio aliquam ducimus minima ullam. Provident aperiam earum debitis dolorum! A
            beatae ratione totam!
          </p>
        </div>
        <div class="col-lg-4 col-10 m-auto order-1 order-md-2">
          <img src="../../assets/img/brokula.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 ">
          <h2 class="section-heading text-black text-center">Rukola&nbsp;</h2>
          <hr class=" my-4">
        </div>
        <div class="col-lg-4 col-10 m-auto ">
          <img src="../../assets/img/rukola.png" alt="" class="img-fluid ">
        </div>
        <div class="col-lg-6 m-auto order-2 order-md-1 text-center">
          <p class="text-black text-justify mb-4 p-5 lead ">
            Okus: osvježavajući, jako intenvizvniji ukus u odnosu na odraslu rukolu. <br>
            Upotreba: carpaccio, salate, hladna jela, umaci
            Stari Rimljani su je redovito koristili i smatrali afrodizijakom, sredstvo za potenciju. Nakon Rimskih osvajanja proširila se i dalje.

          </p>
        </div>
      </div>
    </div>
  </section>
  <div class="lineDivDark my-5 "></div>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="section-heading text-black text-center">Rotkvice&nbsp;</h2>
          <hr class="my-4">
        </div>
        <div class="col-sm-2 col-10 py-sm-0 py-5 m-auto">
          <p class="text-black text-left m-auto lead ">
            Osvježavajućeg okusa su, podsjećaju na mlade rotkvice, blago pikantne. Upotrebljavaju se uz salate, razni sirevi, hladna predjela, ribe i dr.
          </p>
        </div>
        <div class="col-sm-8 mx-auto ">
          <img src="../../assets/img/rotkvice.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-sm-2 col-10 py-sm-0 py-5 m-auto">
          <p class="text-black text-right m-auto lead ">
            Stari Rimljani su je primali kao plaću, a stari Grci su je pridonosili kao žrtvu svojim bogovima
          </p>
        </div>
      </div>
    </div>
  </section>
  <div class="lineDivDark my-5 "></div>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2 class="section-heading text-black text-center">Crveni kupus i suncokret&nbsp;</h2>
          <hr class=" my-4">
        </div>
        <div class="col-md-5 m-auto">
          <img src="../../assets/img/suncokret.jpg" alt="" class="img-fluid">
          <p class="text-center">Suncokret</p>
          <p class="text-black text-center mb-4 p-5 lead">
            Jako zanimljivog okusa orašast, hrskav i sočan. <br>
            Upotrebljava se u salatama, juhama, mesu i dr. <br>
            Suncokret važi za najpopularniju mikro biljku u Americi.
          </p>
        </div>
        <div class="col-md-5 m-auto">
          <img src="../../assets/img/kupus.jpg" alt="" class="img-fluid">
          <p class="text-center">Crveni kupus</p>
          <p class="text-black text-center mb-4 p-5 lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, eius enim suscipit cumque molestias
            obcaecati repudiandae distinctio aliquam ducimus minima ullam. Provident aperiam earum debitis dolorum! A
            beatae ratione totam!
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="cvekla">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2 class="section-heading text-black text-center">Cvekla&nbsp;</h2>
          <hr class=" my-4">
        </div>
        <div class="col-lg-6 m-auto text-center p-4">
          <p class="text-black cveklaP text-justify mb-4 p-4 lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, eius enim suscipit cumque molestias
            obcaecati repudiandae distinctio aliquam ducimus minima ullam. Provident aperiam earum debitis dolorum! A
            beatae ratione totam!
          </p>
        </div>
      </div>
    </div>
  </section>
  
</div>