
  header.masthead {
    // padding-top: 10rem;
    // padding-bottom: calc(10rem - 56px);
    background-image: url("../../assets/img/headerPovrce.jpg"); 
    background-position: center center;
    background-size: cover;
    height: 100vh;
  }
  section {
    padding: 6rem 0;
  }
.cvekla {
  background-image: url("../../assets/img/cvekla.jpg"); 
  background-position: center center;
  background-size: cover;
  padding: 9rem 0
}
  .heading {
    position: relative;
    top: 30%;
  }
  .cveklaP {
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.726);
  }