<app-navbar [aColor]="'black'"></app-navbar>
<div id="page-top">
  <header class="masthead text-center text-black d-flex">
    <div class="container heading">
      <div class="row">
        <div class="col-lg-8 offset-1 text-left">
          <h1 class="text-uppercase mainHed mb-4">Vrste mikropovrća</h1>
          <br>
          <h2>Pogledajte našu <br> ponudu mikropovrća</h2>
        </div>
        <div class="col-lg-10 text-left offset-1 py-5 my-5">
          <a class="btn btn-primary btn-xl js-scroll-trigger mainBtn" href="#about">saznaj više</a>
        </div>
        <hr>
      </div>
    </div>
  </header>
  <section class="bg-primary">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2 class="section-heading text-white text-center">Brokula&nbsp;</h2>
          <hr class="light my-4">
        </div>
        <div class="col-lg-6 m-auto text-center">
          <p class="text-faded text-justify mb-4 p-5 lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, eius enim suscipit cumque molestias
            obcaecati repudiandae distinctio aliquam ducimus minima ullam. Provident aperiam earum debitis dolorum! A
            beatae ratione totam!
          </p>
          <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">proizvodi</a>
        </div>
        <div class="col-lg-4 mx-auto ">
          <img src="../../assets/img/brokula.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2 class="section-heading text-black text-center">Rukola&nbsp;</h2>
          <hr class=" my-4">
        </div>
        <div class="col-lg-4 m-auto ">
          <img src="../../assets/img/rukola.png" alt="" class="img-fluid m-auto">
        </div>
        <div class="col-lg-6  m-auto text-center ">
          <p class="text-black text-justify mb-4 p-5 lead ">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, eius enim suscipit cumque molestias
            obcaecati repudiandae distinctio aliquam ducimus minima ullam. Provident aperiam earum debitis dolorum! A
            beatae ratione totam!
          </p>
          <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">proizvodi</a>
        </div>
      </div>
    </div>
  </section>
  <div class="lineDivDark my-5 "></div>
  <section>
    <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="section-heading text-black text-center">Rotkvice&nbsp;</h2>
                <hr class="my-4">
              </div>
              <div class="col-2 m-auto">
                  <p class="text-black text-justify m-auto lead ">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat ab sint sit iure a odit?
                  </p>
              </div>
              <div class="col-lg-8 mx-auto ">
                <img src="../../assets/img/rotkvice.jpg" alt="" class="img-fluid">
              </div>
              <div class="col-2 m-auto">
                  <p class="text-black text-justify m-auto lead ">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat ab sint sit iure a odit?
                  </p>
              </div>
            </div>
          </div>
  </section>
  <section class="cvekla">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2 class="section-heading text-black text-center">Cvekla&nbsp;</h2>
          <hr class=" my-4">
        </div>
        <div class="col-lg-6 m-auto text-center p-4">
          <p class="text-black cveklaP text-justify mb-4 p-4 lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, eius enim suscipit cumque molestias
            obcaecati repudiandae distinctio aliquam ducimus minima ullam. Provident aperiam earum debitis dolorum! A
            beatae ratione totam!
          </p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2 class="section-heading text-black text-center">Crveni kupus i suncokret&nbsp;</h2>
          <hr class=" my-4">
        </div>
        <div class="col-lg-5 m-auto">
          <img src="../../assets/img/suncokret.jpg" alt="" class="img-fluid">
          <p class="text-center">Suncokret</p>
          <p class="text-black text-justify mb-4 p-5 lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, eius enim suscipit cumque molestias
            obcaecati repudiandae distinctio aliquam ducimus minima ullam. Provident aperiam earum debitis dolorum! A
            beatae ratione totam!
          </p>
        </div>
        <div class="col-lg-5 m-auto">
          <img src="../../assets/img/kupus.jpg" alt="" class="img-fluid">
          <p class="text-center">Crveni kupus</p>
          <p class="text-black text-justify mb-4 p-5 lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, eius enim suscipit cumque molestias
            obcaecati repudiandae distinctio aliquam ducimus minima ullam. Provident aperiam earum debitis dolorum! A
            beatae ratione totam!
          </p>
        </div>
      </div>
    </div>
  </section>
</div>